<%# index.ejs %>
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>
<body>
    <main>
        <% if (items.length === 0) { %>
            <p>No media yet! Add your first review.</p>
        <% } else { %>
            <% items.forEach(item => { %>
                <article class ="media-card" onclick="window.location.href='/<%= item.media_type %>s/<%= item.id %>'">
                    <img src="<%= item.image_url %>" alt="<%= item.title %>" class="card-image">

                    <div class="card-content">
                        <h2 class="card-title"><%= item.title %></h2>
                        <p class="card-author">by <%= item.creator %></p>
                        <p class = "card-excerpt"><%= item.review.slice(0, 150) %>...</p>
                        <img src="/assets/<%= item.media_type %>-icon-thick.svg" alt="<%= item.media_type %>" class="card-media-icon">
                    </div>
                </article>
            <% }) %>
        <% } %>
    </main>
</body>

<%- include ('partials/footer.ejs') %>
</html>