<%# view-media.ejs %>
<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs'); %>

    <main>
        <div class="item-details">
            <img src="<%= item.image_url %>" alt="<%= item.title %>" class="item-cover">
            <div class ="item-content">
                <h1><%= item.title %></h1>
                <h2>by <%= item.creator %></h2>
                <% if (item.year) { %>
                    <p class="media-year">Year: <%= item.year %></p>
                <% } %>
                <p class="review-date">Reviewed on <%= new Date(item.created_at).toLocaleDateString() %></p>
                <p><%= item.review %></p>
            </div>
        </div>
        <div class="action-buttons">
            <a href="/media/edit/<%= item.id %>" class="btn-edit">Edit</a>
        </div>
    </main>

    <%- include('partials/footer.ejs'); %>
</html>